@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar-wrapper {
  @apply fixed sm:hidden py-8 px-5 top-0 left-0 w-[50%] h-[30%] flex flex-col items-end gap-5 z-20 invisible duration-1000 translate-x-[200%] bg-gray-100;
}

.sidebar-wrapper.show {
  @apply visible z-20 translate-x-[100%];
}
